# Configuracoes de IDE
.idea/
*.iml

# Arquivos compilados Java
*.class
*.jar

# Pastas de compilacao
build/
out/

# Arquivos temporarios e backups
*~
*.tmp
*.bak

# Dados locais gerados pela aplicacao
data/*
